.cercle{
    width: 180px;
    height: 180px; 
    background-color: #F1ECFF; 
    border-radius: 50%; 
    position: relative;
}
.cercle>.cercle2{
    width: 140px;
    height: 140px; 
    background-color: white; 
    border-radius: 50%; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-right-color: #7043E3;
    border-top-color: #7043E3;
    border-width: 4px;
    
}
.cercle>.cercle2>p{
    font-size: large;
    font-weight:600;
    font-family: "Poppins", sans-serif;
}
