@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.top {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.top > .deux {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.top > .deux > .time {
    display: flex;
    gap: 10%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

.top > .deux > .time > p {
    font-size: small; /* Réduire la taille de la police */
    font-weight: 500;
    color: #656565; /* Couleur plus proche de "slate" */
    font-family: "Poppins", sans-serif;
}

.statics {
    margin-top: 10px;
}

.statics > p {
    font-size: 10px;
    color: #656565; /* Couleur plus proche de "slate" */
    font-family: "Poppins", sans-serif;
}

.statics > p > span {
    font-size: 10px;
    color: #94909E;
    font-family: "Poppins", sans-serif;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    justify-content: flex-start;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    padding: 0 25px;
    width: 30%;
}

.description > p {
    color: #94909E;
    font-family: "Poppins", sans-serif;
}
